.navigation {
    display: flex;
    align-items: center;
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: #af2b2b;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;

}