

h2,
nav a,
.logo a {
    font-family: 'Oswald', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fdf2f4;
}

.logo img {
    height: 50px;
    width: auto;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}
   
.content-section {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
}
   
.text-side {
    flex: 0 0 80%;
}
   
.image-side {
    flex: 0 0 20%;
}
   
.image-side img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    background-color: #eee;
}
    
.reverse {
    flex-direction: row-reverse;
}


@media (max-width: 768px) {
    
    .content-section,
    .reverse {
        flex-direction: column;
    }
    
    .text-side,
    .image-side {
        flex: 0 0 100%;
    }
}

