:root {
    --primary-color: #BC6C25;
    --secondary-color: #BFC69F;
    --accent-1-color: #DDA15E;
    --accent-2-color: #938693;
    --background-color: aqua;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #cbd5e0;
}

/* Header Section */
header {
    background-color: #1a202c;
    padding: 20px 40px;
}

.header-top {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

nav a {
    color: #cbd5e0;
    text-decoration: none;
}

/* Middle Content Section */
.container {
    display: flex;
    height: 300px;
    /* Adjust height as needed */
}

main {
    flex: 3;
    /* Takes up 75% of the width */
    background-color: #a0aec0;
    color: #2d3748;
    padding: 20px;
}

aside {
    flex: 1;
    /* Takes up 25% of the width */
    background-color: #edf2f7;
    color: #2d3748;
    padding: 20px;
}

/* Footer Section */
footer {
    background-color: #2d3748;
    color: #cbd5e0;
    text-align: center;
    padding: 40px;
    font-weight: bold;
}