:root {
    --primary-color: #BC6C25;
    --secondary-color: #BFC69F;
    --accent-1-color: #DDA15E;
    --accent-2-color: #938693;
    --background-color: aqua;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: var(--accent-2-color);
    display:flex;
}

nav {
    padding: 30px;
    margin: 30px;
    background-color: var(--background-color);
    display: flex;
    
}


nav a {
    color: black;
    display: grid;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    align-content: center;
}

nav a:hover {
    color: red;
    text-decoration:underline;
}

main {
    max-width: 1200px;
    padding-right:1rem ;
    padding-left:1rem ;
    background-color: var(--accent-2-color);
    align-self: center;
    display:grid;
}



h1{
    text-align: center;
}

h2{
    text-align: center;
    text-decoration: underline;
}

img{
    padding:10px;
}

section{
    padding:30px;
    background-color: #fff;
}

div{
    display:flex;
}

footer{
    padding:20px;
    background-color: var(--accent-2-color);
    display:flex;
}