@media screen and (min-width: 500px){
    #box {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 20px;
        }
    
        #box section {
            background-color: #f9f9f9;
            border: 1px solid #463e3e;
            border-radius: 8px;
            padding: 15px;
            width: 320px;
            box-shadow: 0 2px 5px rgba(95, 95, 95, 0.199);
        }
    
        #box section img {
            width: 100%;
            height: auto;
            border-radius: 4px;
            border: 5px solid #333;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
        }
}