.body{
    font:'Roboto';
}

header , main , footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 2px double #ffeddb;
    padding: 1rem;
    background-color: rgb(197, 220, 255);
    color: #000;
}

.main{
    display:grid;
    grid-template-columns: 1rem;
    gap: 1rem;

}

section{
    padding: 3px;
    background-color: lavender;
}