/*Do not include a media query. 
Use the Google Font – Roboto in the body rule.
The header,
main,
and footer
Each have a maximum width of 640 pixels
are centered on the page using margin: 1rem auto
include a faint border
use appropriate padding
have a blueish background color of your choice
Declare the main element to be a CSS grid with a grid template of only one column,
and a equal gap of 1rem.
Declare the section elements to also have padding and a lighter or white background.


*/

body {
    font-family: 'Roboto', sans-serif;
}

header{
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #bbb;
    padding: 1rem;
    background-color: #e6f2ff;
}

main {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid #9d9ef7;
    padding: 1rem;
    background-color: #a3cfff;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #fff;
}

footer{
    max-width: 640px;
        margin: 1rem auto;
        border: 1px solid #9d9ef7;
        padding: 1rem;
        background-color: #a3cfff;
}